.userToDo{
    border: solid black 2px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.8rem auto 0.1rem auto;
    width: 20rem;
    height: 3rem;

    &__left{
        display: flex;
        width: 5rem;
        margin-left: 1.5rem;
        & p{
            margin-left: 0.5rem;
        }
    }
    &__button{
        margin-right: 0.7rem;
    }
}

.line {
    text-decoration: line-through;
}