@use "../../assets/sass/variables" as *;

.nav-bar{
    display: flex;
    margin-top: 2rem;
    justify-content: space-between;
    align-items: center;

    &__heading{
        color: $prim-color;
        margin-left: 2rem;
    }
    &__button{
        margin-right: 2rem;
    }
}